<nav class="navbar navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h2 class="navbar-brand">Иерархический справочник городов мира</h2>
  <div class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
              <button type="button" class="btn btn-secondary btn-md rounded-pill"><a class="text-light" href="/#!/list">Города</a></button>
              <button type="button" class="btn btn-secondary btn-md rounded-pill"><a class="text-light" href="/#!/create">Добавить город</a></button>
              <button type="button" class="btn btn-secondary btn-md rounded-pill"><a class="text-light" href="/#!/logout">Выход</a></button>
  </div>
</nav>
